@use '@/src/sass/base/vars' as *;
@use '@/src/sass/extends' as *;
@use '@/src/sass/mixins' as *;

div.container {
  // min-width: $min;
  // background-color: pink;

  &.page-wrapper-container {
    @extend %extends-hide-scrollbar;
    // background-color: tomato;

    // max-height: 100svh;
    // overflow-y: auto;
  }

  &.header-content-block-container,
  &.main-content-block-container,
  &.footer-content-block-container {
    // padding: 0 1rem;
    padding: 0 1rem;
    margin: 0 auto;
    max-width: $desktop;
    // background-color: green;
  }

  &.header-content-block-container {
    @include media-screen-orientation('max', $desktop) {
      // padding: 0 0 0 1rem;
    }
  }

  // --- Combine (aside with main)

  &.article-details-combine-wrapper-container {
    background-color: $light;
  }

  &.main-aside-combine-container {
    // align-items: center;
    // background-color: teal;

    @include media-screen-orientation('min', $desktop) {
      display: grid;
      grid-template-columns: 280px 1fr;
      // gap: 1rem;
      margin: 0 auto;
      max-width: $desktop;
    }

    // background-color: tomato;
  }

  // --- Sidebar

  &.sidebar-container {
    div.sidebar-content-container {
      display: grid;
      gap: 2rem;
      padding: 0 1rem;
      // background-color: red;
    }
  }

  // --- Main

  &.main-content-block-container {
    min-height: $mainHeight;
    // height: 100svh;
  }

  &.auth-form-wrapper-container {
    // padding-top: 10svh;
    margin: 0 auto;
    // min-width: $min;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    min-width: calc($min - 2rem);
    max-width: $mobile;
    text-align: center;

    // background-color: tomato;
    height: 100svh;
    min-height: 420px;
    overflow-y: auto;

    // height: $mainHeight;

    // @include media-screen-orientation('min', $mobile) {
    //   padding-top: 13svh;
    // }
  }

  &.form-backdrop-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem 2.7rem;
    background-color: $greyDeepDarkPlus;
    border: 0.1rem solid $greyDeepDarkUltra;
    border-radius: 0.4rem;
    box-shadow: $shadow;

    @include media-screen-orientation('min', $mobile + 32px) {
      padding: 2rem 2rem 2.7rem;
    }
  }

  &.form-content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  // &.article-details-container {
  //   // display: grid;
  //   // gap: 2rem;
  //   // margin: 0 auto;
  //   // max-width: $tablet;
  //   // background-color: teal;
  // }
}
