@use '@/src/sass/base/vars' as *;
@use '@/src/sass/extends' as *;
@use '@/src/sass/mixins' as *;

.default-button-text {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.065rem;
  text-transform: uppercase;
  color: $light;
  transition: color $ease03s;
}

.default-small-button {
  height: 1.2rem;
  background-color: transparent;

  > span.button-text {
    font-size: 0.6rem;
    letter-spacing: 0.04rem;
    color: $greyMiddle;
  }

  &:hover {
    background-color: transparent;
  }
}

// --- Button:

button.button,
span.button {
  @extend .default-button-text;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  height: 40px;
  background-color: $bgButtonActive;
  border: none;
  border-radius: 0.2rem;
  transition: background-color $ease03s;
  cursor: pointer;
  user-select: none;

  > span.button-text {
    @extend .default-button-text;
  }

  &:hover {
    color: $white;
    background-color: $bgButtonInactive;
  }

  &.nav-link-react-icon-button,
  &.nav-link-text-button,
  &.dashboard-text-button {
    border-radius: 0;
    // background-color: transparent;
    background-color: $greyDark;

    &:hover {
      background-color: $bgButtonInactive;
    }

    &.disabled {
      cursor: default;
      background-color: $greyDeepDarkUltra;

      > span.button-text {
        padding-top: 1px;
        line-height: 1.2;
        text-align: center;
        color: $greyDeepDark;
      }
    }

    &.active {
      color: $light;
      background-color: $violetDark;

      > span.button-text {
        color: $light;
      }
    }
  }

  // --- Nav Link Icon:

  &.nav-link-react-icon-button {
    min-width: 40px;

    > span.button-text {
      height: 20px;
    }
  }

  // --- Text Button:

  &.nav-link-text-button,
  &.admin-panel-text-button,
  &.dashboard-text-button {
    padding: 0 1rem;
  }

  &.admin-panel-text-button {
    // width: 100%;

    &.disabled {
      background-color: $greyDark;
      cursor: default;

      > span.button-text {
        color: $greyMiddleDark;
      }
    }
  }

  /*
  &.form-button {} // *
  */

  // --- SignIn Google:

  &.signin-google-button {
    width: 100%;
    @include google-gradient-background();
    transition: background-position 0.5s ease, color 0.5s ease;
    border-radius: 0.2rem;
    user-select: none;

    > span.button-text {
      color: $black;
    }

    &:hover {
      background-position: right center;
      cursor: pointer;

      > span.button-text {
        color: $white;
      }
    }

    /*
    .google-icon {
      margin-right: 1rem;
      width: 1.15rem;
      height: 1.15rem;
    }
    */
  }

  &.article-details-comments-add-form-submit-button,
  &.article-details-comments-add-form-refetch-button {
    // max-width: 165px;
    padding: 0 1rem;
  }

  &.article-details-comment-list-item-content-button {
    max-width: 165px;
  }

  // --- Small Button:

  &.small-link-button {
    @extend .default-small-button;

    > span.button-text {
      color: $blue;
    }

    &:hover {
      > span.button-text {
        color: $googleBlue;
      }
    }
  }

  &.small-border-button,
  &.small-border-button-as-system {
    @extend .default-small-button;
    padding: 0 0.35rem;
    border: 1px solid $greyMiddle;
    transition: border-color $ease03s;

    > span.button-text {
      padding-top: 1px;
    }

    &:hover {
      border: 1px solid $greyDark;

      > span.button-text {
        color: $greyDark;
      }
    }
  }

  &.small-border-button-as-system {
    &:hover {
      > span.button-text {
        color: $violetLight;
      }
    }
  }
}
