@use '@/src/sass/base/vars' as *;
@use '@/src/sass/_extends' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: $greyDeepDark;
  // background-color: $light;
}

/*
*::-webkit-scrollbar {
  width: 1em;
  // width: 0.2em;
}
*::-webkit-scrollbar-button {
  background: red;
}
*::-webkit-scrollbar-track-piece {
  padding-top: 40px;
  margin-top: 40px;
  background: $dark;
}
*::-webkit-scrollbar-thumb {
  background: $violetDark;
}
// */

/*
@supports (scrollbar-width: none) {
  * {
    scrollbar-width: none; // Hides the scrollbar in Firefox
  }
}
// */
