@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

.default-page-title {
  display: flex;
  align-items: flex-end;
  // height: 1.7rem;
  height: 3.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  // color: $greyMiddleDark;
}

/*
* { color: red; }
// */

h1,
h2,
h3,
p,
span,
button,
input,
select,
ul,
li,
form,
div,
section {
  font-family: var(--general-content-font);
  font-size: 16px;
  color: $dark;

  &.readable-content {
    font-family: var(--text-content-font);
  }
}

h1 {
  &.logo-title {
    font-weight: 500;
    // text-transform: uppercase;
    color: $light;
  }

  &.article-details-title {
    &.readable-content {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.2;

      @include media-screen-orientation('min', $mobile + 100) {
        font-size: 2.2em;
      }
    }
  }
}

h2 {
  &.page-main-title {
    @extend .default-page-title;
    // height: 3.25rem;
    // color: red;
    display: flex;
    align-items: center;
    height: 5rem;
    // padding: 40px 0 0 0;

    /*
    &::before {
      content: '';
      margin-right: 0.5rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: $violetLight;
    }
    */

    &.color-light {
      // color: $greyLight;
      color: $greyMiddle;
    }
  }

  // &.page-main-title-light {
  // }

  &.readable-content {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;

    @include media-screen-orientation('min', $tablet) {
      font-size: 2em;
    }
  }
}

h3 {
  &.page-main-title {
    @extend .default-page-title;
    // height: 3.25rem;
    // color: red;
    display: flex;
    align-items: center;
    height: 5rem;
    // padding: 2rem 0;

    &.color-light {
      // color: $greyLight;
      color: $greyMiddle;
    }
  }

  // &.general-heading-title {
  //   height: 3rem;
  //   background-color: yellow;
  // }

  &.public-articles-home-section-title {
    @extend .default-page-title;
    color: $greyMiddle;
  }

  &.form-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $greyMiddle;
  }

  &.sidebar-title {
    @extend .default-page-title;
    // background-color: teal;

    /*
    &::before {
      content: '';
      margin-right: 0.5rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: $violetLight;
    }
    */
  }

  &.article-list-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    display: -webkit-box; // Required for line clamping
    -webkit-line-clamp: 2; // Number of lines to show (WebKit-based browsers)
    -webkit-box-orient: vertical; // Vertical text layout (WebKit-based browsers)
    overflow: hidden; // Hide overflow text
    text-overflow: ellipsis; // Add ellipsis for truncated text
    white-space: normal; // Allow wrapping
    line-clamp: 2; // Standard property for non-WebKit browsers (not yet widely supported)

    @include media-screen-orientation('min', $mobile + 100) {
      font-size: 1em;
    }

    @include media-screen-orientation('min', $tablet + 100) {
      font-size: 0.9em;
    }

    // @include media-screen-orientation('min', $tablet) {
    //   font-size: 0.9rem;
    // }
  }

  &.comment-block-title {
    > span.comment-block-title-counter {
      padding-left: 0.5rem;
      font-weight: 600;
    }
  }
}

p {
  &.readable-content {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.02rem;

    @include media-screen-orientation('min', $tablet) {
      font-size: 1.125em;
    }
  }

  &.article-details-text {
    &.readable-content {
      font-size: 1rem;
      line-height: 1.4;
      letter-spacing: 0.02rem;

      @include media-screen-orientation('min', $tablet) {
        font-size: 1.125em;
      }
    }
  }
}
