@use '@/src/sass/base/vars' as *;

/*
* { color: red; }
// */

h1,
h2,
h3,
p,
span,
button,
input,
select,
ul,
li,
form,
div,
section {
  font-family: var(--general-content-font);
  font-size: 16px;
  color: $black;

  &.readable-content {
    font-family: var(--text-content-font);
  }
}

h1 {
  &.logo-title {
    font-weight: 500;
    // text-transform: uppercase;
    color: $light;
  }
}

h2 {
  &.readable-content {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.2;
  }
}

h3 {
  &.form-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $greyMiddle;
  }
}

p {
  &.readable-content {
    font-size: 20px;
    line-height: 1.3;
  }
}
