@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

.default-page-title {
  display: flex;
  align-items: flex-end;
  // height: 1.7rem;
  height: 3.25rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

/*
* { color: red; }
// */

h1,
h2,
h3,
p,
span,
button,
input,
select,
ul,
li,
form,
div,
section {
  font-family: var(--general-content-font);
  font-size: 16px;
  color: $dark;

  &.readable-content {
    font-family: var(--text-content-font);
  }
}

h1 {
  &.logo-title {
    font-weight: 500;
    // text-transform: uppercase;
    color: $light;
  }

  &.article-details-title {
    // font-weight: 600;
    // font-size: 2rem;
    // text-transform: uppercase;
    // color: $dark;

    &.readable-content {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.2;

      @include media-screen-orientation('min', $tablet) {
        // font-size: 2em;
        font-size: 2.2em;
      }
    }
  }
}

h2 {
  &.page-main-title {
    @extend .default-page-title;
    height: 3.25rem;

    // display: flex;
    // align-items: flex-end;
    // font-size: 1.3rem;
    // font-weight: 600;
    // letter-spacing: 0.03rem;

    // background-color: teal;
  }

  &.readable-content {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;

    @include media-screen-orientation('min', $tablet) {
      font-size: 2em;
    }
  }
}

h3 {
  &.form-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $greyMiddle;
  }

  &.sidebar-title {
    @extend .default-page-title;
    // height: 1.7rem;
    // display: flex;
    // align-items: flex-end;
    // font-size: 1.3rem;
    // font-weight: 600;
    // letter-spacing: 0.03rem;

    // background-color: teal;;
  }
}

p {
  &.readable-content {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.02rem;

    @include media-screen-orientation('min', $tablet) {
      font-size: 1.125em;
    }
  }

  &.article-details-text {
    &.readable-content {
      font-size: 1rem;
      line-height: 1.4;
      letter-spacing: 0.02rem;

      @include media-screen-orientation('min', $tablet) {
        font-size: 1.125em;
      }
    }
  }
}
