$min: 320px;
$mobile: 390px;
$tablet: 820px;
$desktop: 1024px;
$max: 1440px;

// --- Sizes:

$headerHeight: 40px;
$footerHeight: 80px;
$mainHeight: calc(100svh - $headerHeight - $footerHeight);

// ---

$ease03s: 0.3s ease;
$ease03s03s: 0.3s ease 0.3s;
$ease03s01s: 0.3s ease 0.1s;

// ---

$defaultBorderRadius: 0.25rem;

// ================== Colors:

$googleGradient: linear-gradient(90deg, #34a853, #fbbc05, #ea4335, #4285f4);

$white: white;
$greyLightUltra: #dedede; // *
$greyLight: #c2c4c5;
$greyMiddle: #717a81;
$greyMiddleDark: #52585c;
$greyDark: #2b2f38;
$greyDeepDark: #21242b;
$greyDeepDarkPlus: #181b21;
$greyDeepDarkUltra: #14161a;
$blackMiddle: #0f1114;
$black: black;

$googleGreen: #34a853;
$googleYellow: #fbbc05;
$googleRed: #ea4335;
$googleBlue: #4285f4;

$blue: #225695;
$smokeBlue: #283950;
$lightRed: #f25c5e;
$violetLight: #a676a6;
$violetDark: #80669d;
$violetDarkSmoke: #36313d;

$light: $greyLightUltra;
$dark: $greyDeepDark;

// --- Panel:

// $bgDarkPanel: $greyDeepDark;
// $bgDarkPanelHover: $greyDeepDarkPlus;
// $colorLight: $greyLight;
// $colorAccent: $violetLight;

// --- Button:

$bgButtonActive: $blue;
$bgButtonInactive: $violetDark;
$bgButtonDesabled: $smokeBlue;
// $colorButtonDisabled: $greyMiddle;

// --- Shadow:

$shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px -1px;
