@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

aside.sidebar {
  &.articles-sidebar,
  &.article-details-sidebar {
    div.sidebar-content-wrapper {
      padding-bottom: $finalBottomPadding;

      @include media-screen-orientation('max', $tablet - 0.1) {
        display: none;
      }
    }

    @include media-screen-orientation('min', $tablet) {
      display: block;
      // background-color: $greyDark;
    }
  }

  // > section.main-final-section {
  //   @include media-screen-orientation('max', $tablet - 0.1) {
  //     display: none;
  //   }
  // }
}
