@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

header.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $black;
  box-shadow: $shadow;
  z-index: calc($headerZIndex + 1);

  div.header-content-block {
    height: $headerHeight;
  }
}

/* // Default header:
header.header {
  position: fixed;
  background-color: $dark;

  div.header-content-block {
    height: $headerHeight;
  }
}
*/
