@use '@/src/sass/base/vars' as *;

main.main {
  // padding-top: 40px;
  background-color: $light;

  &.home-page-main {
    background-color: $black;
  }

  &.signin-page-main {
    background-color: $dark;
  }

  // ---

  div.main-content-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > span.articles-page-main-divider {
      border-bottom: 1px solid $greyLight;
    }
  }
}
