@use '@/src/sass/base/vars' as *;

main.main {
  // padding-top: 40px;
  background-color: $light;

  &.signin-page-main {
    background-color: $dark;
  }

  div.main-content-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
