section.section {
  display: flex;
  flex-direction: column;

  &.main-hero-section {
    padding-top: 40px;
  }

  &.article-details-section {
    gap: 2rem;
  }

  &.readable-content-section {
    gap: 1.5rem;
  }

  &.main-final-section {
    padding-bottom: 80px;
  }
}
