@use '@/src/sass/base/vars' as *;

section.section {
  display: flex;
  flex-direction: column;

  &.main-hero-section {
    padding-top: 40px;
  }

  &.sidebar-title-section {
    padding-bottom: 2rem;
    // margin-bottom: 2rem;
    border-bottom: 1px solid $greyLight;
    width: 100%;
  }

  &.dashboard-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &.article-create-form-section,
  &.article-edit-form-section {
    gap: 2rem;
  }

  &.article-details-section {
    gap: 2rem;
  }

  &.article-details-comments-section {
    gap: 1.5rem;
  }

  &.readable-content-section {
    gap: 1.5rem;
  }

  &.blue-lotus-home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: calc($mainHeight - 150px);
    min-height: 230px;
    // background-color: tomato;
  }

  &.main-final-section {
    padding-bottom: 80px;
  }

  &.main-final-section-small {
    padding-bottom: 1rem;
  }

  &.main-final-section-zero {
    padding-bottom: 0;
  }
}
