@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

section.section {
  display: flex;
  flex-direction: column;

  &.main-hero-section {
    padding-top: 40px;
  }

  &.sidebar-title-section {
    padding-bottom: 2rem;
    // margin-bottom: 2rem;
    border-bottom: 1px solid $greyLight;
    width: 100%;
  }

  &.admin-section,
  &.dashboard-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &.article-create-form-section,
  &.article-edit-form-section {
    gap: 2rem;
  }

  &.article-details-section {
    gap: 2rem;
  }

  &.article-details-comments-section {
    gap: 1.5rem;
  }

  &.readable-content-section {
    gap: 1.5rem;
  }

  // --- Home:

  &.blue-lotus-home-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 6rem 0;
    // height: calc($mainHeight - 450px);
    // height: calc($mainHeight - 150px);
    // min-height: 230px;
    background-color: $violetDarkPlus;
    animation: bgColorChangeFrontElement 5s ease-in-out forwards;
    overflow: hidden;

    > div.image-block.home-page-main-thumb {
      rotate: -5deg;
      animation: rotateFrontElement 5s ease-in-out forwards;

      // transition: rotate 5s ease-in-out; // Smoothly transition the rotation over 5 seconds

      // &:hover {
      //   rotate: 0; // Trigger rotation on hover or adjust logic for auto-play
      // }
    }

    > div.blue-lotus-home-section-rotating-block {
      position: absolute;
      width: 340px;
      height: 340px;
      animation: rotateBackElement 5s ease forwards,
        bgColorChangeBackElement 5s ease forwards;
    }

    /*
    @include media-screen-orientation('min', $min) {
      // padding-top: 2rem;
      padding: 2rem 0;
    }
    */

    @include media-screen-orientation('min', $mobile + 100) {
      // padding-top: 3rem;
      padding: 2rem 0;
    }
  }

  &.public-articles-home-section {
    // background-color: red;
    gap: 2rem;

    > div.home-page-main-loader-block {
      display: flex;
      justify-content: center;
    }

    > div.public-articles-home-section-content-loader-block {
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 40px 0;
      // min-height: 230px;
      height: calc($mainHeight - 520px);
      background-color: $blackMiddle;
      border-radius: $middleBorderRadius;
      // background-color: teal;

      // /*
      @include media-screen-orientation('min', $mobile + 100) {
        // padding: 120px 0;
        height: calc($mainHeight - 400px);
      }
      // */
    }
  }

  &.main-filter-value-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    min-height: 42px;
    // background-color: teal;
  }

  &.main-final-section {
    padding-bottom: 80px;
  }

  &.main-final-section-small {
    padding-bottom: 1rem;
  }

  &.main-final-section-zero {
    padding-bottom: 0;
  }
}

@keyframes rotateFrontElement {
  from {
    rotate: -10deg;
    opacity: 0;
  }
  to {
    opacity: 1;
    rotate: 0deg;
  }
}

@keyframes rotateBackElement {
  from {
    rotate: 90deg;
  }
  to {
    rotate: -90deg;
  }
}

@keyframes bgColorChangeFrontElement {
  from {
    background-color: $violetDarkPlus;
  }
  to {
    background-color: $black;
  }
}

@keyframes bgColorChangeBackElement {
  from {
    background-color: $violetDarkPlus;
  }
  5% {
    background-color: $violetDarkPlus;
  }
  to {
    background-color: $black;
  }
}
