@use '@/src/sass/base/vars' as *;

form.article-details-comments-add-form {
  display: grid;
  gap: 1rem;
  // background-color: skyblue;

  padding: 1rem;
  border: 1px solid $greyLight;
  border-radius: $middleBorderRadius;

  > span.article-details-comments-add-form-username {
    font-weight: 600;
    // background-color: cadetblue;
  }

  // > div.article-details-comments-add-form-textarea-block {

  // }

  > div.article-details-comments-add-form-button-block {
    display: flex;
    justify-content: space-between;
  }
}
