@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

div.admin-panel {
  position: relative;
  display: flex;
  padding: 1rem;
  border-radius: $middleBorderRadius;
  box-shadow: $shadow;

  &.admin-panel-articles,
  &.admin-panel-article-details {
    background-color: $dark;
  }

  // --- Articles:

  &.admin-panel-articles {
    justify-content: space-between;

    @include media-screen-orientation('max', $tablet - 0.1) {
      flex-wrap: wrap;
      gap: 1.5rem;

      > a {
        width: 100%;

        > button {
          width: 100%;
        }
      }
    }

    > div.admin-panel-articles-number-box-content {
      display: flex;
      gap: 1rem;
      width: 100%;

      @include media-screen-orientation('max', $min) {
        flex-direction: column;
      }

      @include media-screen-orientation('min', $tablet) {
        max-width: $mobile + 150;
      }

      > div.admin-panel-articles-number-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40px;
        cursor: pointer;

        > span {
          text-transform: uppercase;
          color: $greyMiddle;

          &.admin-panel-articles-number-title {
            font-size: 0.6rem;
            letter-spacing: 0.02rem;
          }

          &.admin-panel-articles-number-value {
            display: flex;
            align-items: flex-end;
            height: 100%;
            font-size: 1.5rem;
            color: $greyLight;
          }
        }
      }

      > span.admin-panel-articles-number-box-divider {
        display: block;
        background-color: $greyMiddle;
        width: 0.0625rem;
        min-height: 100%;

        @include media-screen-orientation('max', $min) {
          display: none;
        }
      }
    }
  }

  // --- Article Details:

  &.admin-panel-article-details {
    display: flex;
    gap: 1rem;

    @include media-screen-orientation('max', $mobile - 0.1) {
      flex-direction: column;
    }

    > div.admin-panel-article-details-content {
      display: flex;
      gap: 1rem;
      width: 100%;

      @include media-screen-orientation('max', $desktop - 0.1) {
        flex-direction: column;
      }

      > a > button {
        width: 100%;
      }

      @include media-screen-orientation('min', $desktop) {
        > * {
          width: 100%;
        }
      }
    }
  }
}
