@use '@/src/sass/base/vars' as *;

div.main-filter-value-block {
  display: flex;
  height: 1.8rem;
  gap: 1rem;
  // background-color: tomato;

  > span.main-filter-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0 0.4rem 0 0.6rem;
    // color: teal;
    background-color: $violetDark;
    border-radius: $middleBorderRadius;

    > span {
      padding-top: 1px;
      font-size: 0.8rem;
      // line-height: 1.6;
      // font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      user-select: none;
    }

    > svg {
      cursor: pointer;
    }

    > span,
    > svg {
      color: $light;
    }
  }
}
