@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

div.image-block {
  position: relative;
  height: 400px;
  // width: 100%;
  overflow: hidden;

  // --- Article List Item:

  &.article-list-item-thumb {
    height: 78%;

    > img.article-list-item-image {
      object-fit: cover;
    }
  }

  // --- Article Details:

  &.article-details-thumb {
    height: 300px;

    @include media-screen-orientation('min', $mobile + 100) {
      height: 450px;
    }

    @include media-screen-orientation('min', $combineDesktop) {
      height: 500px;
    }

    > img.article-details-image {
      object-fit: cover;
    }
  }
}
