@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

div.image-block {
  position: relative;
  height: 400px;
  // width: 100%;
  overflow: hidden;

  // --- Home:

  &.home-page-main-thumb {
    // width: 100%;
    width: 240px;
    height: 240px;
    // background-color: tomato;

    // /*
    @include media-screen-orientation('min', $mobile + 100) {
      width: 200px;
      height: 200px;
      // border: 1px solid white;
    }
    // */

    > img.home-page-main-image {
      display: block;
      object-fit: cover;
    }
  }

  // --- Article List Item:

  &.article-list-item-thumb {
    height: 80%;
    border-radius: $smallBorderRadius;
    box-shadow: $shadow;

    @include media-screen-orientation('min', $mobile + 100) {
      height: 78%;
    }

    > img.article-list-item-image {
      object-fit: cover;
    }
  }

  // --- Article Details:

  &.article-details-thumb {
    height: 300px;
    border-radius: $middleBorderRadius;
    box-shadow: $shadow;

    @include media-screen-orientation('min', $mobile + 100) {
      height: 450px;
    }

    @include media-screen-orientation('min', $combineDesktop) {
      height: 500px;
    }

    > img.article-details-image {
      display: block;
      object-fit: cover;
    }
  }
}
