@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

div.loader-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $mainHeight;

  &.light-loader-block,
  &.main-combine-light-loader-block {
    height: calc($mainHeight - 180px);
    background-color: $light;
  }

  /*
  &.light-loader-block {
    background-color: tomato;
    }
    */

  &.main-combine-light-loader-block {
    min-height: 200px;
    max-height: 360px;
    // background-color: pink;

    @include media-screen-orientation('min', $tablet) {
      max-height: calc($mainHeight - 20px);
      // background-color: skyblue;
    }
  }

  &.dark-loader-block {
    background-color: $dark;
  }

  &.black-loader-block {
    background-color: $black;
  }

  /*
  > div.loader-block-content {} // *
  */
}
