@use '@/src/sass/base/vars' as *;

div.loader-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $mainHeight;

  &.light-loader-block,
  &.main-combine-light-loader-block {
    background-color: $light;
    height: calc($mainHeight - 180px);
    // background-color: tomato;
  }

  /*
  &.light-loader-block {
    background-color: tomato;
  }

  &.main-combine-light-loader-block {
    height: calc($mainHeight - 170px); // + 40px
    background-color: teal;
  }
  */

  &.dark-loader-block {
    background-color: $dark;
  }

  &.black-loader-block {
    background-color: $black;
  }

  /*
  > div.loader-block-content {} // *
  */
}
