@use '@/src/sass/base/vars' as *;

div.loader-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $mainHeight;

  &.light-loader-block {
    background-color: $light;
  }

  &.dark-loader-block {
    background-color: $dark;
  }

  /*
  > div.loader-block-content {} // *
  */
}
