@use '@/src/sass/base/vars' as *;
@use '@/src/sass/mixins' as *;

div.user-account-notes-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: $violetDark;
  border-radius: $middleBorderRadius;

  @include media-screen-orientation('max', $accountMobileWidth - 0.1) {
    height: 437px;
  }

  > textarea.user-account-notes-textarea {
    // padding: 1rem;
    // margin: 0 auto;
    width: calc(100% - 2rem);
    height: 405px;
    outline: none;
    // overflow: hidden;
    resize: none;
    background-color: transparent;
    // background-color: teal;

    @include media-screen-orientation('min', $accountMobileWidth) {
      height: 408px;
    }

    &::placeholder {
      color: $violetLightPlus;
    }
  }

  > svg.user-account-notes-trash-button {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    stroke: $light;
    cursor: pointer;
  }
}
