@use '@/src/sass/base/vars' as *;

main.main {
  background-color: $light;

  &.signin-page-main {
    // display: flex;
    // flex-direction: column;
    background-color: $dark;
  }

  div.main-content-block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }
}
